  <div class="row">
    <div class="col-sm-12">

      <div class="form">
        <div class="h2-white pull-left">Part - Person - Edit</div><br><br><br>
        <p class="white">First and Last Name must be filled in.</p>
        <%= link_to 'Back', unit_path(@unit) %><br><br>
        <%= render 'form' %>
      </div>

    </div>
    <!-- col end -->
  </div>
  <!--row end -->
