
<div class="flex-container-big">
  <div class="flex-block-big">


    <div class="h2-white pull-left">Part - Person - Show</div><br>

    <%= link_to "Delete Person", part_path(@part), :class => "btn-sm btn-danger pull-right",:data => {:confirm => "Are you sure?",:method => "delete"}, remote: true  %>

    <br><br>

    <%= render "form" %>


  </div><!-- flex-block end -->
</div><!-- flex-container end -->
