<div class="row">
  <div class="col-sm-12">

    <div class="form">
      <div class="h2-white pull-left">Editing Position</div><br><br><br>
      <%= link_to 'Back', departments_path %><br><br>
      <%= render 'form' %>
    </div>

  </div>
  <!-- col end -->
</div>
<!--row end -->
