<div class="flex-container-big">
  <div class="flex-block-big">
    <div class="row">
      <div class="col-sm-5">
        <div class="h2-white">Departments - Index</div>
        <br><br>


        <br><br>
        <%= link_to "New Department", new_department_path, :class => "btn btn-sm btn-primary" %>
        <br><br>
        <div class="family-list">

          <br>
        <% if @departments.any? %>
          <% @departments.each do |d1| %>
          <%= link_to "#{d1.name}", department_path(d1), :class => "family-card btn" %><br>
          <% end %>
        <% else %>
          <h3 class="h2-white pull-left">No Departments Yet</h3>
          <% end %>
        </div>
        <!-- family list -->
      </div>

      </div>
      <!-- col end -->
    </div>
    <!--row end -->
  </div>
  <!-- flex-block end -->
</div>
<!-- flex-container end -->
