<!-- <div class="flex-container-big">
  <div class="flex-block-big"> -->

  <div class="blue-bar">
    <div class="h2-white">Dashboard</div>
  </div>

  <div class="col-sm-12">
  <br><br>
  <div class="h3-white pull-left">Summary</div><br><br><br>
    <p>Momentum is a software that allows non profit organizations or social movements to organize their internal structure. The development has been broken into phases with the first one below.</p>
    <br>
    <div class="edit_family btn btn-sm btn-primary h3-white">User Stories for Phase 1</div>
       <div class="edit_f"><br><br>
      <div class="h3-white pull-left">Implemented</div><br><br><br>
        <p>Admin - store families and people that belong to those families</p>
        <p>Admin - store departments and assign people to those departments</p>
        <p>Admin - store events and check people into those events</p>
        <p>Admin - view basic statistics total users, families, people, and track attendance and movement growth over time</p>
        <p>User - create an account</p><br><br>

      <div class="h3-white pull-left">Still to do</div><br><br><br>
        <br><p>------ General ------</p>
        <p>Admin - View Stats - Needs Refining</p>
        <p>Admin - View Dashboard with upcoming events</p>
        <p>User - Report a bug or development suggestion</p>

        <br><p>------ Serving ------</p>
        <p>Admin - create event needs</p>
        <p>Admin - assign people to serve in events to meet needs</p>

        <br><p>------ Users ------</p>
        <p>User - Update your account settings, picture and family details</p>
        <p>User - View events user is signed up to serve in </p>
        <p>User - View serving opportunities on the dashboard</p>
        <p>User - Sign up to serve in an event or department</p>
        <p>Admin - Approve users serving in an event or department</p>

        <br><p>------ Giving ------</p>
        <p>User - donate money or pay for group activities</p>

        <br><p>------ Group ------</p>
        <p>User - become a leader and establish a group</p>
        <p>Leader - add people to your group and group details</p>
        <p>Leader - message your group members</p>
        <p>Leader - email other people</p>

        <br><p>------ Email Marketing ------</p>
        <p>Email Announcment or meeting to all users</p>

        <p>Admin - post announcements/news to the dashboard</p>

    </div>

    <%#= calendar number_of_days: 7 do |date| %>
      <%#= date %>
    <%# end %>

   </div>

<!-- </div>
</div> -->
