<div class="flex-container-big">
  <div class="flex-block-big">

      <div class="h2-white pull-left">Welcome</div><br><br><br>



<!-- Javascript form toggle -->
<div class="edit_family btn btn-sm btn-warning">Toggle</div>
 <div class="edit_f">
   <p>test</p>
  </div><!-- search toggle end -->

   </div>
  </div><!-- flex-block end -->
</div><!-- flex-container end -->
