<h3>Search Results</h3>
  <% if @photoSearchResults %>
    <% @photoSearchResults.each do |p2| %>

    <h1><%= p2.familyName %></h1>
    <h1><%= p2.zip %></h1>

    <% end %>
  <% else %>
  No results
  <% end %>
