

<!-- Not Currently Working -->

  <h3>Search Results</h3>
<% if @results %>
  <% @results.each do |r| %>
    <div class="col-xs-6">
      <div class="well well-small">

          <div class="title"><%= r.familyname %></div>

      </div><!-- well end -->
    </div><!-- col end -->
  <% end %>
<% else %>
none
<% end %>
