<div class="flex-container-big">
  <div class="flex-block-big">

    <div class="blue-bar">
      <div class="h2-white">Event Checkin</div>
    </div>

    <br><br>

    <%#= link_to 'Check Person In', new_spectator_path, :class => "btn btn-sm btn-success" %>
    <div class="h2-white">Events Today</div>
    <br>
    <br>
    <% if @revents.any? %>
    <% @revents.each do |eve| %>
    <div class="well-event">
      <%= link_to "#{eve.name}", checkin_path(eve), :class => "h2-black" %><br>
      <%= eve.start_time.strftime("%A, %b %d %I:%M %p") %><br><!--   Tuesday, Jan 28, 2015  -->
    </div>  <!-- well-event end -->
    <% end %>
    <% else %>
      <h4 class="pull-left">No events scheduled today</h4>
    <% end %>
  </div>  <!-- flex block end -->
</div>
