/*
*= require simple_calendar
*= require recurring_select
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "simple_calendar";



// font-family: 'Passion One', cursive;
// font-family: 'Oswald', sans-serif;
// font-family: 'Bangers', cursive;
// font-family: 'Open Sans', sans-serif;


$yellow: #feb831;
$yellow2: #f0ad4e;
$grey3: #333;
$grey7: #777;
$blue: #337ab7;
$green: #5cb85c;
$black: #000;
$white: #fff;
$spacegrey: #36424b;
$pink: #c05a76;
$midnight: #21252b;
$midnight-light: #282c34;
$midnight-dark: #1b1d23;


html {
  height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    // background-repeat:no-repeat;
    // background: -webkit-linear-gradient( to bottom , #413f7a, #1680b1);
    // background: -moz-linear-gradient( to bottom , #413f7a, #1680b1);
    // background: -ms-linear-gradient( to bottom , #413f7a, #1680b1);
    // background: -o-linear-gradient( to bottom , #413f7a, #1680b1);
    // background: linear-gradient( to bottom , #413f7a, #1680b1);
}

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  color: #d2d2d2;
}

h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  color: #fff;
}

h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  color: #fff;
  text-align: center;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  color: #999;
  text-align: center;
}

h6 {
  color: #000;
}

.h2-white {
  color: #fff;
  font-size: 2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  vertical-align: middle;
}

.h2-black {
  color: #000;
  font-size: 2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
}

.h2-black-clean {
  color: #000;
  font-size: 2em;
}

.h3-white {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  vertical-align: middle;
}

.h3-black {
  color: #000;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  vertical-align: middle;
}

.h4-black {
  color: #000;
  font-size: 1.4em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.4px;
  text-align: center;
}
.h5-white {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  font-size: .6em;
}

.h5-grey {
  color: #999;
}
.va {
  vertical-align: center;
}


.shift-down {
  padding-top: 10px;
}

.shift-left {
  padding-left: 55px;
}


.project-text {
  color: #000;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.text {
  color: #000;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.h5-grey {
  font-size: 1em;
  color: #888;
  font-weight: bold;
  padding-right: 15px;
}

.white {
  color: #fff;
}

.blue {
  color: $blue;
}


////////////////////NAVIGATION LINKS
.nav {
  width: 100%;
  border: none;
}
.nav a:active {
  color: #fff;
  font-size: 1.2em;
}
.nav a:visited {
  color: #fff;
  font-size: 1.2em;
}
.nav a:hover {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  background: red;
}
.nav a:link {
 color: #fff;
 font-size: 1.2em;
 max-width: 100%;
 margin: auto;
 margin: 0;
}
.nav > li > a:hover {
    background-color: $blue;
}

.nav > .active_bg {
    background-color: $midnight_dark;
}


//////////////////// Logo Box
.logo a:link {
  color: $blue;
  font-size: 2.5em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  vertical-align: middle;
}
.logo a:hover {
  color: #fff;
  font-size: 2.5em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  vertical-align: middle;
}
.logo a:visited {
  color: $blue;
  font-size: 2.5em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  vertical-align: middle;
}
.logo a:active {
  color: #fff;
  font-size: 2.5em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  vertical-align: middle;
}
.logo-box {
  // background-color: $black;
  padding: 10px 0px;
  width: 250px;
  height: 70px;
  float: left;
}

//

.h4-dark {
  color: #000;
  font-size: 1.8em;
  text-align: center;
}


.well {
  border-radius: 8px;
  max-width: 500px;
  margin: 10px, 0;
  padding: 15px;
}
.well-grey {
  border-radius: 8px;
  max-width: 500px;
  margin: 10px, 0;
  padding: 15px;
  background-color: #444;
}

.well-small {
  max-width: 160px;
  padding: 5px;
  margin: 5px;
}

body {
  // background: linear-gradient(to bottom, #413f7a , #1680b1);
  height: 100%;
  // background: url("/assets/bg.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;
  background-color: $midnight-light;
}


.form{
  padding: 20px;
}

.bg {
  width: 100%;
  min-height: 300px;
}

.grey {
  color: #d1d1d1;
}

.center-notice {
  text-align: center;
}

.center {
  text-align: center;
}
.center-auto {
  margin: 0 auto;
  margin-left: 0;
  margin-right: 0;
}


// .menu {
//   background-color: #d2d2d2;
//   text-align: center;
//   width: 100%;
//   font-size: 1.2em;
//   border-top: 1px solid #555;
//   background: rgb(255, 255, 255); /* Fall-back for browsers that don'tsupport rgba */
//   background: rgba(255, 255, 255, .8);
//
// }


.shiftR {
  margin-left: 10px;
}

.user-nav-text {
    padding-top: 15px;
    float: left;
}

// footer
.footer {
  padding-top: 4px;
  height: 40px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don'tsupport rgba */
  background: rgba(255, 255, 255, .8);

}
.btn {
  margin: 0 auto;
  padding: 0px 2px;
  -webkit-box-shadow: none !important;
   box-shadow: none  !important;
   padding: 10px;
}

.btn2 {
  margin: 0 auto;
  padding: 8px;
}

// FORM TEXT
.input-lg {
  font-size: 18px;
  height: 30px;
}

.btn-lg {
  height: 50px;
  width: 120px;
  margin-bottom: 20px;
  text-align: center;
}
.btn-cancel{
  float:right;
  margin-top: -30px;
}
.field {
  margin: 15px;
}

.btn-search{
  height: 36px;
  border-radius: 0px 7px 7px 0px;
}

.form-text-regular {
  font-size: 25px;
}

.form-text-small {
  font-size: 15px;
}

.login-text {
  padding-top: 20px;
  font-size: 20px;
}

.btn-image {
  height: 50px;
}

.form-group {
  width: 200px;
}

.center-image-button {
  width: 250px;
  margin: 0 auto;
}


input[type=file] {
  transform: scale(1.2);
  padding: 10px;

}
// // Big Checkbox
// input[type=checkbox] {
//   transform: scale(1.2);
//   margin: 10px;
// }

input[type="image"]
{
  background:url(btn-closet.png);
}


//PICTURE
// .title {
//   font-size: 2em;
// }
// .description {
//   font-style: italic;
//   color: #777;
// }
//
// .month {
//   font-size: 1.2em;
// }
//
// .day {
//   font-size: 1.2em;
// }
// //
// #block1 {
//   width: 100%;
//   margin-top: 30px;
//   float:left;
//   display: block;
//   overflow-x: hidden;
// }
//
// #mini-menu {
//   margin-top: -70px;
//   margin-left: 60%;
//   width: 100%;
// }
//
// #block2-mini {
//   width: 50%;
//   margin-top: -80px;
//   margin-left: 50%;
//   padding-top: 10px;
//   padding-left: 20px;
// }
//
// #block-bottom {
//   text-align: center;
//   clear: both;
// }

// .marginL {
//   margin-left: 0px;
// }
//
// .round {
//   border-radius: 10px;
//   margin-bottom: 5px;
// }
//
// .type {
//   color: #888
// }

.detail {
  font-size: 1.2em;
  font-weight: bold;
}


// .edit-button {
//   background-color: #222;
//   height: 52px;
//   width: 52px;
//   border-radius: 50%;
// }
//
// .photo-button {
//   background-color: #000;
//   height: 70px;
//   width: 70px;
//   border-radius: 50%;
// }


//////////////////// Structure
.col-xs-12 {
  padding: 5px 15px 5px 5px;
}
.col-sm-3 {
  padding-right: 0px
}
.col-sm-9 {
  padding-left: 0px
}
//Flexbox two types
.flex-container-small {
  display: flex;
  height: 300px;
  flex-direction: column;
  flex-wrap:  wrap;
}
.flex-block-small {
  width: 95%;
  margin: 0 auto;
  max-width: 525px;
}

.flex-container-big {
  display: flex;
  height: 100%;
  justify-content: center;
}
.flex-block-big {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  flex-wrap:  wrap;
  // justify-content: flex-start;

}

.flex-block {
  width: 95%;
  margin: 0 auto;
}

.left-column {
  background-color: $midnight-light;
  padding-bottom: 300px;
  border-right: solid 2px #000;
}

.right-column {
  height: 100%;
}

//////////////////////// Topbar

.topbar {
  background-color: $midnight-dark;
  width: 100%;
  min-height: 70px;
  border-bottom: 3px solid #000;
  margin:auto 0;
}

.login {
  margin-right: -2px;
  margin-top: 12px;
  width: 300px;
}

.topbar a:active {
  color: #feaf21;
  font-size: 1em;
}
.topbar a:visited {
  color: #999;
  font-size: 1em;
}
.topbar a:hover {
  color: $blue;
  font-size: 1em;
  text-decoration: none;
}
.topbar a:link {
 color: #999;
 font-size: 1em;
 max-width: 100%;
 margin: auto;
 margin: 0;
}
.topbar > .login > li > a:hover {
}

.shift-down {
  margin-top: 10px;
  margin-left: 30px;
}


//FAMILY - PEOPLE
.family-list {
  max-width: 230px;
  padding-left: 10px;
}

.people-text {
  color: #d2d2d2;
}
.people-btn {
  min-width: 200px;
  // display: inline-block;
  width: 100%;

}
.custom-btn {
    border-radius: 0px;
    width: 100%;
    // font-size: 1.5em;   //for +
    line-height: 12px;
}
.well2 {
  min-width: 120px;
  max-width: 200px;
  padding: 8px 8px;
  margin: 5px 2.5px 5px 2.5px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-event {
  min-width: 300px;
  max-width: 500px;
  padding: 8px 8px;
  margin: 5px 2.5px 5px 2.5px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.family-card {
  width: 200px;
  background-color: #fff;
  padding: 10px 10px;
  margin: 5px 5px;
  border-radius: 5px;
}

.family-card-search {
  width: 200px;
  background-color: #fff;
}

.edit_f {
  display:none;
}

.grey-btn{
  margin: 0 auto;
  -webkit-box-shadow: none !important;
   box-shadow: none  !important;
   padding: 10px;
   background-color: $midnight-light; //#777
   display: block;
   margin-bottom: 2px;
}


.X {
  color: #fff;
  background-color: $midnight-light; //#777
  padding-right: 10px;
  margin-top: -2px;
  float: right;

}

.grey-btn a:link {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.grey-btn a:hover {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.grey-btn a:visited {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.grey-btn a:active {
  color: #f3f3f3;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}



.midnight-btn{
  margin: 0 auto;
  -webkit-box-shadow: none !important;
   box-shadow: none  !important;
   padding: 10px;
   background-color: $midnight-dark; //#777
   display: block;
   margin-bottom: 2px;
}


.midnight-X {
  color: #fff;
  background-color: $midnight-dark; //#777
  padding-right: 10px;
  margin-top: -2px;
  float: right;
}

.midnight-btn a:link {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.midnight-btn a:hover {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.midnight-btn a:visited {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.midnight-btn a:active {
  color: #f3f3f3;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}



.black a:link {
  color: #000;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.black a:hover {
  color: #000;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.black a:visited {
  color: #000;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}
.black a:active {
  color: #f3f3f3;
  font-size: 1.2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}

.people-box {
  margin-top: 20px;
  background-color: $midnight-dark; //#333
  padding: 10px;
  min-width: 300px;
}

.people-box-search {
  background-color: $midnight-dark; //#333
  padding: 10px;
    min-width: 300px;
}

//// department

.people-box2 {
  background-color: $midnight-dark; //#333
  padding: 10px;
  width: 100%;
}

.black2 {
  color: #000;
  padding: 10px;
}

.single-person {
  padding: 8px;
}

//// SEARCH RELATED
  .grey-bg {
    background-color: #333;
  }

  .midnight-bg {
    background-color: $midnight-dark;
  }

  .tiny-margin {
    margin:5px 0px;
  }

  .person-detail{
    font-size: 1.5em;
  }

//// STAT RELATED

.big-white-box {
background-color: #fff;
min-height: 300px;
width: 100%;
padding: 20px;
// width: 800px;
// position: fixed;
}
.white-box {
background-color: #fff;
height: 300px;
width: 300px;
padding: 20px;
margin: 5px 2.5px;
}

.chart {
  margin: -20px -30px 0px 0px;
// width: 500px;
}
.stat-title {
  color: $black;
  font-size: 2em;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.5px;
}

.stat-sub {
  font-size: 1.3em;
}
.stat {
  margin-left: 40px;
}
.stat-body {
  font-size: 1em;
}


//// MISC
.icon-size {
  max-width: 50px;
}
.icon-size-tiny {
  max-width: 15px;
  padding-bottom: 5px;
}
.menu-icon-size {
  max-width: 50px;
  margin-bottom: 15px;
}
.nav-icon-size {
  max-width: 35px;
  margin: 6px;
}
.solid {
  font-weight: bold;
  color: #feaf21;
  font-size: 1.1em;
}
.time-select {
  width: 15%;
  display: inline;
}
.marg- {
  margin-top: -40px;
  margin-right: 10px;
}
.font-light {
  color: $grey7;
  font-size: .8em;
}

.space {
  margin: 25px;
}

// input, textarea{
//     background-color:#666;
//     color: #FFF;
// }

//CARD FLIP
.flip {
  -webkit-perspective: 800;
  width: 300px;
  height: 45px;
    position: relative;
    margin: 25px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  // rotatey
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    text-align: center;
    // line-height: 10px;
    // padding-top: 10px;

}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background-color: $midnight-dark;
    color: white;
    cursor: pointer;

}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    width: 300px;
    height: 80px;
}

//
// //Department Flip
// .flip_dep {
//   -webkit-perspective: 800;
//     position: relative;
//     width: 200px;
//     background-color: #fff;
//     padding: 10px 10px;
//     margin: 5px 5px;
//     border-radius: 5px;
// }
// .flip_dep .card.flipped {
//   -webkit-transform: rotatey(-180deg);
//   // rotatey
// }
// .flip_dep .card {
//   width: 100%;
//   height: 100%;
//   -webkit-transform-style: preserve-3d;
//   -webkit-transition: 0.5s;
// }
// .flip_dep .card .face {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   -webkit-backface-visibility: hidden ;
//   z-index: 2;
//
// }
// .flip_dep .card .front {
//   position: absolute;
//   z-index: 1;
//     cursor: pointer;
//     height: 50px;
//
// }
// .flip_dep .card .back {
//   -webkit-transform: rotatey(-180deg);
//     background: blue;
//     background: white;
//     color: black;
//     cursor: pointer;
//     width: 300px;
//     height: 80px;
// }






li.selected {
    background-color: #f90;
}

.selected {
  color: purple;
  max-width: 200px;
}

// Experimental ux

.blue-bar {
  background-color: $blue;
  height: 55px;
  width: 100%;
  padding: 8px;
  // margin: -8px;
}
.pink-bar {
  background-color: $pink;
  height: 65px;
  width: 1000px;
  margin: -10px;
}


/////////////// Side Navigation POPOUT
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 65px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.3s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.close-menu {
  font-size: 1.5em;
  height: 70px;

}
.sidenav .closebtn  {
    position: absolute;
    top: 0;
    font-size: 2.5em;
    margin: auto 0;
}
#content-container {
    transition: margin-left .3s;
    margin-left: 65px;
}

// /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//     .sidenav {padding-top: 15px;}
//     .sidenav a {font-size: 18px;}
// }
#icon-menu {
  width: 65px;
  background-color: #111;
  height: 100%;
  position:fixed;
}
