
$yellow: #feb831;
$yellow2: #f0ad4e;
$grey3: #333;
$offwhite: #d2d2d2;
$blue: #337ab7;
$blue-light: #badaf6;
$green: #5cb85c;
$black: #000;
$white: #fff;
$spacegrey: #36424b;
$grey-light: #f1f1f1;
$pink: #c05a76;
$midnight: #21252b;
$midnight-light: #282c34;
$midnight-light2: #464c58;
$midnight-dark: #1b1d23;

.cal-date {
  float: right;
  background-color: $grey-light;
  padding: 1px 3px;
  margin-right: -8px;
  margin-top: -8px;
}

.cal-bold {
  // font-weight: bold;
  font-size: 1em;
}

.day-width {
  // width: 40px;
}

.week {
  height: 70px;
}

.table-striped{
  background-color: #fff;
}

.weekdays {
  background-color: $midnight-light2;
  color: #fff;
  text-align: center;
}

.well-midnight {
  width: 620px;
  padding: 8px 8px;
  margin: 5px 2.5px 5px 2.5px;
  background-color: $midnight-dark;
  border: 1px solid $midnight-light;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.calendar-title {
  color: #fff;
  font-size: 2em;
  padding: 0 15px;
}

.simple-calendar {
  font-size: .8em;

  .day {
      border: solid 1px $midnight-light;
      min-width: 85px;
      // min-height: 180px;
  }
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: solid 3px $blue;

  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {    background-color: $offwhite;}
  .next-month {     background-color: $offwhite;}
  .current-month {}

  .has-events {
    background-color: $blue-light;
  }
}
